/* styles.css */

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #536976, #292E49);
}

.container {
    background: rgba(255, 255, 255, 0.2);
    /* Cor com transparência para o efeito de glassmorphism */
    backdrop-filter: blur(10px);
    /* Desfoque do glassmorphism */
    border-radius: 15px;
    /* Bordas arredondadas */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra para dar destaque */
}

.container h1 {
    color: #fff;
    /* Cor do texto dentro do container */
}

.jumbotron {
    background: rgba(0, 0, 0, 0.5);
    /* Fundo do jumbotron com transparência */
    border-radius: 15px;
    /* Bordas arredondadas */
    padding: 20px;
    margin-bottom: 20px;
}

#app {
    max-width: 600px;
    margin: 0 auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#report {
    margin-top: 20px;
}